<div class="main">
  <div class="menu">
    <select class="button" (change)="changeBoard($event)">
              <option value="{{num}}" *ngFor="let num of sizesOfBoard" >{{num}}</option>
    </select>
    <button class="button" type="button" (click)="updateListOfCellsOnSrv()">Wyslij wzór</button>
    <button class="button" type="button" (click)="nextGameTurn()">Nastepny ruch</button>
  </div>
  <div class="container">
    <div>
      <ng-container *ngFor="let cell of listCells;let i = index">
      <div *ngIf="i % numberOfCols ==0" style="clear:both"></div>
      <ng-container *ngIf="cell.live;else cellblack">
        <div class="cell-white" [id]="cell.id" (click)="setLive($event)"></div>
      </ng-container>
      <ng-template #cellblack>
        <div class="cell-black" [id]="cell.id" (click)="setLive($event)"></div>
      </ng-template>
    </ng-container>
    </div>

  </div>
</div>
